#root {
  display: flex;
  justify-content: center;
  align-items: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  width: auto;
  background-color: #242424;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

input, select {
  padding: 8px 6px;
  border-radius: 4px;
  border: none;
  font-size: 1em;
  transition: ease-in-out 0.2s;
}

label {
  font-size: 1.1em;
  font-weight: 600;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}